header.main-header section.container .slider{
    transform: translateX(0);
}
main.main > h1.main{
    font-family: var(--primary-font);
    text-align: center;
    font-size: 4rem;
    color: var(--home-header);
    margin-top: 1.5rem;
}
main.main > h2.secondary{
    font-family: var(--primary-font);
    text-align: center;
    font-size: 2.25rem;
    color: var(--secondary-color);
}
main.main > p.tertiary{
    font-family: var(--secondary-font);
    padding: 1rem;
    margin: 0;
    font-size: 1.25rem;
    color: var(--tertiary-color);
}
@media only screen and (max-width: 1300px){
    main.main > h1.main{
        margin-top: 2.5rem;
    }
}
@media only screen and (max-width: 1000px){
    main.main > h1.main{
        font-size: 3rem;
        margin-top: 3.5rem;
    }
    main.main > h2.secondary{
        font-size: 2rem;
    }
}
@media only screen and (max-width: 850px){
    main.main > h1.main{
        margin-top: 4.5rem;
    }
}
@media only screen and (max-width: 750px){
    main.main > h1.main{
        font-size: 2.5rem;
        margin-top: 2.5rem;
    }
    main.main > h2.secondary{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 600px){
    main.main > h1.main{
        font-size: 2rem;
        margin-top: 3rem;
    }
}
@media only screen and (max-width: 400px){
    main.main > h1.main{
        font-size: 1.5rem;
        margin-top: 3.5rem;
    }
    main.main > h2.secondary{
        font-size: 1rem;
    }
    main.main > p.tertiary{
        font-size: 0.75rem;
    }
}